*.class
*.out
*.dat

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/data_structure/avl_tree/avl_tree
/TAGS
/data_structure/rbt_tree/rb_tree
