*.class
*.out
*.dat

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/data_structure/avl_tree/avl_tree
/TAGS
/data_structure/rbt_tree/rb_tree
/data_structure/rbt_tree/rb_tree.exe
/data_structure/TAGS
/util/arg
/util/arg_quote
*.exe
/opencv/Debug/*
/opencv/opencv_demo.vcxproj.user
/opencv/ClassDiagram1.cd
/opencv/ClassDiagram2.cd
/opencv/CMakeFiles/
/opencv/cmake_install.cmake
/opencv/Makefile
/opencv/CMakeCache.txt
/opencv/opencv_demo
/opencv/Demo01LoadImg
/opencv/Demo02ImgRGBInRangeFilter
/opencv/Demo03imwrite
/opencv/WebCamCircleDetect
/opencv/Demo04Mat
*.vcxproj
*.vcxproj.filters
*.sln
/opencv/Demo01LoadImg.vcxproj.user
/opencv/out.png
/opencv/Deme11PutText
/opencv/Demo05Time
/opencv/Demo06scanMat
/opencv/Demo07Weight
/opencv/Demo08CopyTo
/opencv/Demo09Brightness
/opencv/Demo10BasicDraw
/opencv/WebCamCircleDetectCpp
/opencv/discrete_fourier_transform
